<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Catalogue</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4 text-center">Movies Catalogue</h1>

        <!-- Dynamic menu for selecting movie lists -->
        <div class="row">
            <div class="col-lg-12 mb-4">
                {% for list_type in available_lists %}
                    <a href="{{ url_for('homepage', list_type=list_type) }}" 
                       class="btn btn-outline-info {% if current_list == list_type %}active{% endif %}">
                       {{ list_type | replace("_", " ") | capitalize }}
                    </a>
                {% endfor %}
            </div>
        </div>

        <!-- Display movies -->
        <div class="row">
            {% for movie in movies %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="{{ url_for('movie_details', movie_id=movie.id) }}">
                        <img class="card-img-top" src="{{ tmdb_image_url(movie.poster_path, 'w342') }}" alt="{{ movie.title }}">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ url_for('movie_details', movie_id=movie.id) }}">{{ movie.title }}</a>
                        </h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>



